@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

header {
    background-color: #303030;
    padding: 40px 20px;
}

.txt {
    margin-bottom: 50px;
    margin-top: 60px;
    margin-left: 72px;
    padding: 0;
    color: #FFFFFF;
}

.txt > h4 {
    font-size: 60px;
    margin-bottom: 16px;
}

.txt > p {
    font-size: 20px;
}

.itens {
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F9F9F9;
    text-align: left;
}

.itens h4 {
    font-size: 40px;
}

.iten1, .iten2, .iten3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.descri {
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
    padding: 40px 20px;
    align-items: center;
}

.descri > img {
    border-radius: 30px;
    width: 510px;
    height: auto;
    margin-top: 0;
}

.text2 > h4 {
    margin-bottom: 20px;
    font-size: 40px;
}

.text2 > p {
    font-size: 24px;
    margin: 0;
    line-height: 1.5;
}

footer {
    background-color: #303030;
    padding: 40px 20px;
}

form {
    display: grid;
    justify-content: center;
    gap: 16px;
}

form > h4 {
    color: #FFFFFF;
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 20px;
}

input[type='text'] {
    width: 508px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-family: 'Raleway';
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 20px;
}

input[type="text"]::placeholder {
    font-family: 'Raleway';
    font-size: 20px;
}

.nome {
    margin-top: 0;
}

.email {
    margin-top: 0;
}

input[type='button'] {
    background-color: #C07212;
    width: 286px;
    height: 60px;
    border-radius: 10px;
    font-family: 'Raleway';
    border: none;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    left: 95px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #a16112;
}

input[type="button"]:active {
    background-color: #79490f;
}
