@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: o;
    margin: 0;
    font-family: 'inter';
}

header{
    background-color: #303030;
    border: 1px solid black;
    padding: 20px;
    height: 475px;

}

.txt{
    margin-top: 100px;
    margin-left: 72px;
    padding: 20px;
    color: #FFFFFF;

}

.txt > h4{
    font-size: 60px;
}

.txt > p{
    font-size: 20px;
}

.itens{
    height: 229px;
    padding: 20px;
    display: grid;
    grid-auto-flow: column;
    background-color: #F9F9F9;
    /* justify-content: center; */
}

.itens h4{
    font-size: 40px;
}

.iten1 , .iten2 , .iten3{
    position: relative;
    top: 35%;
    left: 22%;
    
}

.descri{
    display: grid;
    grid-auto-flow: column;
    margin: 8px;
    padding: 20px;
}

.descri > img{
    border-radius: 30px;
    width: 510px;
    height: 605px;
}

.text2 > h4{
    font-family: 40px;
}

.text2 > p{
    font-family: 24px;
}

footer{
    background-color: #303030;
    padding: 20px;
    /* height:  475px; */
    width: auto;
}

form{
    display: grid;
    justify-content: center;
    gap: 10px;
}

form > h4{
    color: #FFFFFF;
    font-size: 32px;
    margin-top: 87px;
}



input[type = 'text']{
    width: 508px;
    height: 72px;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-family: 'Raleway';
    border: 1px solid black;
}

input[type="text"]::placeholder{
    font-family: 'Raleway';
    font-size: 24px;
}

.nome{
    margin-top: 96px;
}

.email{
    margin-top: 134px;
}

input[type= 'button']{
    background-color: #C07212;
    width: 286px;
    height: 74px;
    border-radius: 10px;
    font-family: 'Raleway';
    border: #C07212;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    margin-top: 142px;
    margin-bottom: 40px;
    position: relative;
    left: 100px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #a16112;
    
}


input[type="button"]:active {
    background-color: #79490f;
}